<div class="col-xs-10 col-xs-offset-1 about">
	<center>
	<h1>About Splurty</h1>
	</center>
	</br>
	<p>

    	Splurty was built by <a target="_blank" href="http://github.com/ferily7">Farrah</a>. She would like to improve her coding skills by taking online courses. She is currently majoring in Computer Science and learned Python this past year.
 	</p>
  	<br />

  	<p>
    	If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
	</p>
  <div class="col-xs-12 col-sm-4">
  </br>
    <%= image_tag 'IMG.JPG', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Farrah Lee</h2>
    <p>
      Farrah Lee is a college student at Hofstra University and going into her 2nd year of college. She is majoring in Computer Science and pursuing a Bachelor of Arts degree. In high school, Farrah took 4 years of Computer Science classes and learned different languages. She learned how to do Visual Basic, HTML, Flash and Java.
    </p>
  </div>
  <br class="clear" />

</div>